*,
*::before,
*::after {
    box-sizing: border-box;
}


/*Home page*/
.card-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
}


.movie-card,
.movie-link,
.list-card-wrapper {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

.movie-card {
    position: relative;
    min-width: 0;
    border: 0;
}


.cover-image {
    display: block;
    width: 100%;
    height: auto;

}


.preview-title {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 20px;
    display: none;
}


.movie-card:hover .preview-title,
.movie-link:focus .preview-title {
    display: flex;
    flex-direction: column;
}


.movie-card:hover .cover-image {
    filter: brightness(25%);
}


.preview-title h1 {
    margin-bottom: 0;
}


/*Details Page*/
.details-card {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}


.details-card::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom,
            transparent 65%,
            rgba(0, 0, 0, 0.8) 100%);
}


.details-card button {
    position: absolute;
    background-color: transparent;
    border: none;
    color: #fff;
    font-weight: 700;
    top: 10px;
    left: 50px;
    filter: drop-shadow(2px 3px 4px rgb(0 0 0 / .5));
    font-size: 1em;
    display: inline-flex;
    align-items: center;
    font-family: inherit;
    padding: 0;
    z-index: 1;
}


.details-card button::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../public/images/arrow-back.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 5px;
}


.details-wrapper {
    height: 100%;
    display: flex;
    align-items: end;
}


.movie-information {
    display: flex;
    flex-direction: column;
    padding: 50px;
    color: white;
    z-index: 1;
}


.movie-information p {
    max-width: 400px;
}


.cover-art {
    width: 200px;
    border: 5px solid white;
}


.rating-container {
    background-color: white;
    color: #000;
    padding: 0 5px;
    font-weight: 500;
}


.rating-container::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../public/images/star.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 5px;
}


.title {
    margin-right: 20px;
    text-shadow: 1px 1px #4d4d4d;
}


@media screen and (min-width: 370px) {
    .card-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (min-width: 570px) {
    .card-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media screen and (min-width: 577px) {
    .movie-information {
        display: flex;
        flex-direction: row;
        align-items: end;
    }


    .cover-art {
        width: 250px;
    }


    .movie-text {
        margin-left: 20px;
    }
}


@media screen and (min-width: 770px) {
    .cover-art {
        width: auto;
        max-height: 520px;
    }
}

@media screen and (min-width: 820px) {
    .card-wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}